<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    
</head>
<body>

    <div class="sliderpicture">
        <div class="images">
            <img src="../../Static/images/spb.jpg" alt="Санкт-Петербруг">
            <img src="../../Static/images/ny.jpg" alt="Нью-Йорк">
            <img src="../../Static/images/london.jpg" alt="Лондон">
        </div>
        <div class="btm-slides">
            <span onclick="btm_slide(1)"></span>
            <span onclick="btm_slide(2)"></span>
            <span onclick="btm_slide(3)"></span>
        </div>
        <div class="arrow left" onclick="side_slide(-1)">
            <span>←</span>
        </div>
        <div class="arrow right" onclick="side_slide(1)">
            <span>→</span>
        </div>
    </div>

</body>
</html>